<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../../public/stylesheets/style.css" type="text/css" />
		<title>Animal Match</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		<header><h1>Animal Match</h1></header>
		{{{ body }}}
	</body>
</html>
