
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="name"></span></h2>
        <h3>Age: <span class="age"></span> Years</h3>
        <h3>Sex: <span class="sex"></span></h3>
        <h3>Species: <span class="species"></span></h3>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $(document).ready(() => {
      // This file just does a GET request to figure out which user is logged in
      // and updates the HTML on the page
      $.get("/api/user_data").then(data => {
        $(".name").text(data.name);
        $(".age").text(data.age);
        $(".sex").text(data.sex);
        $(".species").text(data.species);
      });
    });

  </script>
